Source: siren
Priority: optional
Maintainer: rail5 <andrew@rail5.org>
Build-Depends: debhelper (>= 10.0.0), lazarus-2.2, lcl-2.2, lcl-utils-2.2, fp-units-misc-3.2.2
Standards-Version: 3.9.3
Section: utils

Package: siren
Version: 0.9
License: GPL-3.0
Vendor: rail5 <andrew@rail5.org>
Priority: optional
Architecture: any
Depends: libcairo2, libgtk2.0-0, libgdk-pixbuf-2.0-0, libglib2.0-0, libpango-1.0-0, libcurl4, ${shlibs:Depends}, ${misc:Depends}
Description: Twilio desktop frontend
 Siren is a Twilio frontend to help non-profits send mass texts
